<section id="section-contacto">
  <div class="contacto-container">
    <!-- Columna izquierda -->
    <div class="contacto-info">
      <h2 class="contacto-titulo">Contáctanos</h2>
      <p class="contacto-direccion">
        <strong>Visítanos en:</strong><br />
        Pasaje Salesiano N° 110, El Tambo - Huancayo
      </p>

      <p class="contacto-descripcion">
        Ven y elige entre nuestra variedad de productos de calidad, personalizados para cada
        necesidad. ¡Te esperamos para ayudarte a encontrar la prenda perfecta!
      </p>

      <div class="contacto-datos">
       <p><i class="fa-solid fa-envelope"></i> ciantx&#64;gmail.com</p>

        <p><i class="fa-solid fa-phone"></i> (+51) 961 101 090</p>
      </div>

      <div class="contacto-horarios">
        <p><strong>lun - vie:</strong> 8:00am - 6:00pm</p>
        <p><strong>sab:</strong> 8:00am - 5:00pm</p>
      </div>
    </div>

    <!-- Columna derecha: Mapa -->
    <div class="contacto-mapa">
      <iframe
        src="https://web-2022.webnode.it/widgets/googlemaps/?z=15&amp;a=-12.064877985274745%2C+-75.21310695530455"
        loading="lazy"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
